section {
    min-height: 100vh;
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 9rem;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero img {
    width: 100px;
    position: absolute;
}

.hero img:nth-of-type(1) {
    bottom: 0px;
    width: 180px;
    animation: falling 2s ease-out 1, spin 3s ease-in-out 2s infinite;
    z-index: 1;
}

.hero img:nth-of-type(2) {
    top: 10px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes falling {
    from {
        bottom: 1000px;
    }

    to {
        bottom: 0px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (min-width:412px) {
    .hero img:nth-of-type(1) {
        bottom: 60px;
    }

    @keyframes falling {
        from {
            bottom: 1000px;
        }

        to {
            bottom: 60px;
        }
    }
}