body {
    line-height: 1.6;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 20px;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-bottom: 80px;
}

.hero p:first-child {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7rem;
}

.hero h1 {
    font-family: var(--font-serif);
    font-size: clamp(3rem, 8vw, 5rem);
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 700;
}


.contact-info {
    display: grid;
    gap: 20px;
    margin-bottom: 60px;
}

 h2 {
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}


.contact-info div:first-of-type {
    border: 1px solid;
    padding: 30px;
    text-align: center;
    cursor: url('../img/cursor/attention.png'),pointer;
    transition: all 0.3s ease;
}

.contact-info div:first-of-type:hover {
    background: var(--bleu);
    color: #fff;
}

.contact-info div p:last-child {
    font-size: 1.2rem;
    margin-top: 10px;
}

.contact-links {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.contact-links li a {
    display: block;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.contact-links li a:hover {
    border-color: var(--bleu);
    background-color: #708fff9f;
}

.contact-form h2 {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

form {
    display: grid;
    gap: 20px;
    border: 1px solid;
    padding: 40px;
    width: 100%;
}

label {
    display: block;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 8px;

}

input, textarea {
    width: 100%;
    background: transparent;
    border: 1px solid;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

textarea{
    height: 10rem !important;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--rouge);
}

#btn-submit {
    background: transparent;
    border: 1px solid;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    cursor: url('../img/cursor/contact.png'),pointer;
    transition: 0.3s;
}

#btn-submit:hover {
    background: red;
    color: black;
}