@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@1,300&display=swap');

@font-face {
    font-family: 'Oskon';
    src: url('../font/ZTBrosOskon90s-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg: #f2f1ec;
    --text: #042F2D;
    --accent: #1c6e6b;
    --font: "Bricolage Grotesque", sans-serif;
    --titre: 'Oskon', serif;
}

html {
    scrollbar-color: var(--accent) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('../img/cursor/loop.png') 4 12, auto;
    background-color: var(--bg);
    font-family: var(--font);
    color: var(--text);
}

a:hover {
    cursor: url('../img/cursor/attention.png'), pointer;
    color: var(--accent);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menu Burger */
.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--text);
}

/* État actif du burger (croix) */
.burger-menu.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.logo a{
    color: var(--text);
}

.nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: 0.5s ease-in-out;
    list-style: none;
    z-index: -1;
}

.nav-links.active {
    right: 0;
}

nav a {
    text-decoration: none;
    color: var(--bg);
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--bleu);
}

h1 span[aria-hidden="true"] span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
}

.reveal {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
}

h1 {
    font-family: var(--titre);
    font-weight: 400;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

main {
    margin-top: 50px;
}

footer {
    text-align: center;
    padding: 30px 10px;
}

@media (min-width: 768px) {
    nav {
        padding: 10px;
    }

    .burger-menu {
        display: none;
    }

    .nav-links {
        position: static;
        flex-direction: row;
        width: auto;
        height: auto;
        background: none;
        box-shadow: none;
        gap: 40px;
        z-index: 0;
    }

    .nav-links a {
        font-size: 1.1rem;
        font-family: var(--font-titre);
    }

    header {
        padding: 0.5rem 50px;
    }
}